EXPRESS_PORT=3000

ENABLE_FTP_SERVER=true
FTP_HOST=127.0.0.1
FTP_PORT=2121
FTP_TLS_ONLY=false

HTTPS_ENABLED=false
SSL_CERT_PATH=
SSL_PRIVATE_KEY_PATH=

MONGO_URI=mongodb://mongo:27017/swift-feed
MONGO_BACKUP_ENABLED=false

S3_BACKUP_ENABLED=false
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=
S3_BUCKET=
